body {
    background-color: #eaf6f6;
}

hr {
    border-width: 5px;
    border-style: dotted none none;
    border-color: grey;
    width: 3%;
}

img {
    height: 200px;
}

h1, h2, h3 {
    color: #66bfbf
}